*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.main{
    background-color: brown;
    color: white;
    border: 3px solid black;
    margin-bottom: 5px;
    text-align: center;  
     
}

div.list{
    height: 200px;
    width: 250px;
    font-size: 50px;
    margin-top: 5px;
    
}

a{
    text-decoration: none;
    color: white;
}

div img{
    height: 200px;
    width: 250px;
    margin-bottom: 5px;
    border:3px solid black;
}

div.lasagna{
    margin-left: 250px;
}

div.casserole{
    margin-left: 500px;
}

div.Fried{
    margin-left: 750px;
}


